.content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 15% auto;
  width: 15vw;
  padding: 2rem;
  background: #ffffff;
  height: 350px;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 999;
}

.input {
  padding: 5px 0px 20px 0px !important;
  border: 0 !important;
  border-bottom: 1px solid #8080809c !important;
  margin-bottom: 30px;
  border-radius: 0 !important;
}

.input::placeholder {
  color: #c8c8c8;
}

.form-control:focus {
  box-shadow: none !important;
}
.close {
  margin-left: auto;
  display: block;
  background-color: white;
  border: none;
}
.close:focus {
  outline: none;
  cursor: pointer;
}
.close:hover {
  outline: none;
  cursor: pointer;
}

.modal-footer {
  border-top: none !important;
  justify-content: space-between !important;
}

.btn {
  border: none !important;
  background-color: transparent !important;
  font-size: 15px !important;
}
.btn:hover {
  outline: none;
  cursor: pointer;
}

.btn-default {
  color: red;
}

.btn-primary {
  color: #734373 !important;
}

.react-datepicker__input-container > input {
  padding: 5px 0px 20px 0px;
  border: 0;
  border-bottom: 1px solid #8080809c;
  margin-bottom: 30px;
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}
.rc-time-picker {
  width: 100% !important;
}
.rc-time-picker-input {
  padding: 5px 0px 20px 0px !important;
  border: 0 !important;
  border-bottom: 1px solid #8080809c !important;
  margin-bottom: 30px;
  border-radius: 0 !important;
}
.rc-time-picker-input:focus {
  outline: none;
}

.icon {
  margin-left: auto;
  display: block;
}

.circle-picker {
  padding-bottom: 20px;
}

.react-datepicker-ignore-onclickoutside:focus {
  outline: none;
}

.fc-daygrid-event {
  border: none;
  padding: 10px;
}

.fc-toolbar-title {
  font-weight: normal;
}
.fc-button-primary {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #8080809c !important;
  opacity: 0.65;
}
.fc-button-primary::first-letter {
  text-transform: uppercase;
}

.fc-button-active {
  color: #3cbcfb !important;
}

.fc-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.fc-button:active {
  outline: none !important;
}

.fc-col-header-cell-cushion {
  opacity: 0.65;
}

.fc-col-header-cell {
  padding: 15px !important;
  background-color: #b9b9b92e;
  border: none !important;
}

.fc-day-today {
  background-color: #b9b9b92e !important;
}

.deleted-alert {
  background-color: red !important;
}

.update-alert {
  background-color: #fada5e !important;
}

.form-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
}

.modal-content {
  border: none !important;
}
.modal-body {
  padding: 0 !important;
}

.btn-secondary {
  background-color: #fff !important;
  border: none !important;
  padding-right: 0 !important;
}
.btn-secondary:focus {
  background-color: #fff !important;
  box-shadow: none !important;
}

#btn-cancel{
  margin-left: initial !important;
}

#discard{
  margin-left: initial !important;
}

.btn-link{
  color: red !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 18vw !important;
  }
}
